#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.status {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid darkgrey;
  background-color: white;
  cursor: pointer;
}

.active {
  background-color: lightgreen;
}

.active + span {
  text-decoration: line-through;
}